@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --fg-light-color: #FFFFFF;
    --fg-dark-color: #23272A;
    --bg-light-color: #F6F6F6;
    --bg-dark-color: #23272A;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', 'Times New Roman', Times, serif;
    font-weight: 350;
    color: var(--fg-dark-color);
}

/* -------------------------------------------------*/
/* ------------------- HEADER ----------------------*/
/* -------------------------------------------------*/

body header {
    background-image: url('../images/header_bg.svg');
    background-position: 74% 75%;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    min-height: 50vh;
    max-height: fit-content;
}

header section {
    max-width: 90%;
}

header .access {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 4vh 0;
}

.access h1 {
    font-family: 'Luckiest Guy', 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    color: var(--fg-light-color);
    font-size: 2rem;
    max-width: 70%;
    letter-spacing: 0.08rem;
}

.access p {
    color: var(--fg-light-color);
    font-weight: 350;
    font-size: 1rem;
    letter-spacing: 0.018rem;
}

.access .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 2vh 2vw;
    margin: 2.5vh 0;
}

.buttons button {
    width: 100%;
    max-width: 25rem;
    padding: 1rem 0;
    border: solid 1px transparent;
    border-radius: 2rem;
    font-weight: 400;
}

.access button:first-of-type {
    background-color: var(--bg-light-color);
    color: var(--fg-dark-color);
}

.access button:last-of-type {
    background-color: var(--bg-dark-color);
    color: var(--fg-light-color);
    font-weight: 300;
}

/* -------------------------------------------------*/
/* -------------------- MAIN -----------------------*/
/* -------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 1vh;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
}

main section .main-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    justify-content: space-evenly;
    gap: 3vh;
}

main section .main-text, main section img {
    width: 90%;
}

main section .main-text h2 {
    line-height: 150%;
    font-weight: 800;
    letter-spacing: 0.03rem;
    margin: 0;
}

main section .main-text p {
    line-height: 150%;
    margin: 0;
}

main .meeting, main .connection {
    background-color: var(--bg-light-color);
}

main .connection h2 {
    font-family: 'Luckiest Guy', 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.08rem;
}

/* -------------------------------------------------*/
/* ------------------- FOOTER ----------------------*/
/* -------------------------------------------------*/

body footer {
    background-color: var(--bg-dark-color);
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

footer img {
    max-width: 30%;
    min-width: 160px;
    padding: 12%;
}


/* --------------------------------------------------*/
/* -------------------- DESKTOP ---------------------*/
/* --------------------------------------------------*/

@media (min-width: 1200px) {
    body p {
        line-height: 1.5rem;
    }

    /* -------------------------------------------------*/
    /* ------------------- HEADER ----------------------*/
    /* -------------------------------------------------*/

    header .access {
        align-items: center;
    }

    .access h1 {
        font-size: 4.66rem;
        max-width: 30%;
        text-align: center;
        margin: 1.2rem 0rem;
    }

    .access p {
        text-align: center;
        max-width: 50%;
    }

    .access .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .buttons button {
        width: fit-content;
        padding: 1rem 2rem;
    }

    /* -------------------------------------------------*/
    /* -------------------- MAIN -----------------------*/
    /* -------------------------------------------------*/

    main section {
        flex-direction: row;
        align-items: flex-start;
        width: 70%;
        gap: 0 1vw;
    }

    main section img {
        width: 40vw;
    }

    main section .main-text {
        width: 18vw;
        padding: 1.5vw 0;
        font-weight: 500;
    }

    main section .main-text h2 {
        font-size: 2.5rem;
    }

    main .meeting, main .connection {
        flex-direction: row-reverse;
    }

    main .connection {
        flex-direction: column;
        align-items: center;
    }

    main .connection .main-text {
        width: 43vw;
        text-align: center;
    }

    main .connection .main-text h2 {
        width: 70%;
        align-self: center;
    }

    /* -------------------------------------------------*/
    /* ------------------- FOOTER ----------------------*/
    /* -------------------------------------------------*/

    footer img {
        padding: 5vh;
    }

}